h2 {
  text-align: center;
}
.board {
  padding: 16px;
}
.col-contain {
  border: 1px solid #eeeeee;
  display: inline-table;
  width: 20%;
  height: 250px;
  margin-left: 10px;
  padding: 0 10px;
}
.col-contain p {
  text-align: center;
}
.item {
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 5px;
}
.item p {
  margin: 0;
}
.custom-tag {
  width: 100%;
  padding: 5px !important;
  text-align: center;
}
.ant-checkbox-wrapper {
  margin-right: 5px !important;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.p-r-8 {
  padding-right: 8px !important;
}